[Unit]
Description=ts-across-relayer
After=network.target

[Service]
WorkingDirectory=/root/ts-across-relayer
ExecStart=/root/ts-across-relayer/startService.sh
Type=simple
User=root
Group=root
Restart=on-failure


[Install]
WantedBy=multi-user.target
